/* calcBase */

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15rem;
}

.outerBox { 
    width: 25.4375rem;
    height: 40.6875rem;
    border-radius: 1.25rem;
    border: 1px solid #000;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    }


.screen {
    width: 23.125rem;
    height: 9.125rem;
    
    border-radius: 0.3125rem;
    border: 1px solid #000;
    background: #FFF;
    display: flex;
    margin-top: 16px;

    }
.deleteBoxes {
    display: flex;
}

    
.deleteClear {
    width: 11.25rem;
    height: 4.75rem;
    
    border-radius: 0.625rem;
    border: 1px solid #000;
    background: #FA8686;

    display: flex;
    margin: 8px;
    }

.normalButtonsBox {
    display: flex;
}
    
.normalButtons {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    margin: 6px;
    
    border-radius: 0.3125rem;
    border: 1px solid #000;
    background: #FFF;
    }